<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Document</title> -->

</head>
<body>
<div class="animals-container">
  <h2>Тваринки</h2>
  <div class="animal-cards">
    <div *ngFor="let animal of animals"
         class="animal-card"
         [ngStyle]="{'background-color': animal.sex === 'Хлопчик' ? '#ADD8E6' : '#FFB6C1'}"
         (click)="selectAnimal(animal)">
      <img [src]="animal.imageURL" alt="{{ animal.name }}" />
      <h3>{{ animal.name }}</h3>
      <p>Місто: {{ animal.city }}</p>
      <p>Телефон: {{ animal.shelterPhoneNumber }}</p>
    </div>
  </div>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1" class="previous">Назад</button>
    <span>Сторінка {{ currentPage }} з {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages"  class="next">Вперед</button>
  </div>
</div>


<!-- Модальне вікно для детальної інформації про тварину -->
<div *ngIf="selectedAnimal" class="modal">
  <div class="modal-content">
    <span (click)="closeModal()" class="close-button">&times;</span>
    <img [src]="selectedAnimal.imageURL" alt="{{ selectedAnimal.name }}" />
    <div class="info">
      <h2><strong>{{ selectedAnimal.name }}</strong></h2>
      <p><strong>Тип: </strong> {{ selectedAnimal.sex }}</p>
      <p><strong>Вік: </strong>{{ selectedAnimal.age }} років</p>
      <p><strong>Розмір: </strong> {{ selectedAnimal.size }}</p>
      <p><strong>Опис: </strong> {{ selectedAnimal.description }}</p>
      <p><strong>Місто: </strong> {{ selectedAnimal.city }}</p>
      <p><strong>Назва притулку: </strong></p>
    </div>

    <div class="buttonForAdoptAndWard">
      <button (click)="openWardForm()" class="Adoptbtn">Взяти під опіку</button>
      <button (click)="openAdoptForm()" class="Wardbtn">Усиновити</button>
    </div>

  </div>
</div>

<div *ngIf="isAdoptFormOpen" class="modalAdopt">
  <div class="adopt-content">
    <span (click)="closeAdoptForm()" class="close-button1">&times;</span>
    <h1>Форма заявки на усиновлення тварини</h1>

    <form (ngSubmit)="ModalAdopt()" class="adopt">
      <label for="name">Ваше ім'я:</label>
      <input type="text" id="firstName" [(ngModel)]="firstName" name="firstName" placeholder="Введіть ваше ім'я" required>

      <label for="surname">Ваше прізвище:</label>
      <input type="text" id="lastName"[(ngModel)]="lastName" name="lastName" placeholder="Введіть ваше прізвище" required>

      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Введіть ваш email" required>

      <label for="phone">Телефон:</label>
      <input type="tel" id="contactNumber" [(ngModel)]="contactNumber"  name="contactNumber" placeholder="Введіть ваш номер телефону" required>


      <label for="exp">Чи маєте досвід догляду за тваринами?</label>
      <select id="experience" [(ngModel)]="experience" name="experience" required>
        <option value="">Маєте досвід догляду за тваринами?</option>
        <option value="yes">Так</option>
        <option value="no">Ні</option>
      </select>

      <input type="hidden" [(ngModel)]="animalName" name="animalName" >
      <input type="hidden" [(ngModel)]="animalAge" name="animalAge" >
      <input type="hidden" [(ngModel)]="animalSex" name="animalSex" >
      <input type="hidden" [(ngModel)]="animalSize" name="animalSize" >
      <input type="hidden" [(ngModel)]="typeOfAnimal" name="typeOfAnimal" >

      <button type="submit">Надіслати заявку</button>
    </form>

  </div>
</div>


<div *ngIf="isWardFormOpen" class="modalWard">
  <div class="ward-content">
    <span (click)="closeWardForm()" class="close-button2">&times;</span>
    <h1>Форма заявки на опіку</h1>

    <form (ngSubmit)="ModalWard()" class="ward">
      <label for="name">Ваше ім'я:</label>
      <input type="text" id="name" [(ngModel)]="firstName" name="firstName" placeholder="Введіть ваше ім'я" required>

      <label for="surname">Ваше прізвище:</label>
      <input type="text" id="surname"[(ngModel)]="lastName" name="lastName" placeholder="Введіть ваше прізвище" required>

      <label for="email">Email:</label>
      <input type="email" id="email1" [(ngModel)]="email" name="email" placeholder="Введіть ваш email" required>

      <label for="phone">Телефон:</label>
      <input type="tel" id="phone" [(ngModel)]="contactNumber"  name="contactNumber" placeholder="Введіть ваш номер телефону" required>


      <label for="exp">Чи маєте досвід догляду за тваринами?</label>
      <select id="exp" [(ngModel)]="experience" name="experience" required>
        <option value="">Маєте досвід догляду за тваринами?</option>
        <option value="yes">Так</option>
        <option value="no">Ні</option>
      </select>

      <input type="hidden" [(ngModel)]="animalName" name="animalName" >
      <input type="hidden" [(ngModel)]="animalAge" name="animalAge" >
      <input type="hidden" [(ngModel)]="animalSex" name="animalSex" >
      <input type="hidden" [(ngModel)]="animalSize" name="animalSize" >
      <input type="hidden" [(ngModel)]="typeOfAnimal" name="typeOfAnimal" >


      <button type="submit">Надіслати заявку</button>
    </form>

  </div>
</div>

</body>
</html>
