
<header>
  <div class="LinkIcon">
    <a class="d-none d-lg-block " href="" >
     <img class="img" src="/Logo.svg" alt="FF_LOGO"/>
    </a>
  </div>

<!--  <h1>Головна сторінка</h1>-->

  <nav class="navbar navbar-expand-lg" >

    <!-- Button to toggle the sidenav -->
  <button class="btn btn-light d-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidenav" >
    <span class="navbar-toggler-icon"></span>
  </button>

<!-- Sidenav (Offcanvas) -->
    <div class="offcanvas offcanvas-start " tabindex="-1" id="sidenav" aria-labelledby="sidenavLabel" >

  <div class="offcanvas-header">
    <div class="LinkIconPhone">
    <a class="d-block d-lg-none" href="" >
     <img class="imgPhone" src="/Logo.svg" alt="FF_LOGO"/>
    </a>
  </div>

    <h2 class="title">Find a Friend</h2>
    <button class="btn-close"  data-bs-dismiss="offcanvas"> </button>
  </div>


  <div class="offcanvas-body">
    <ul class="navbar-nav">

      <div class="Descktop d-none d-lg-block">
      <li class="nav-item "><a class="nav-link" routerLink='/find-f'>Знайти друга</a></li>
      <li class="nav-item "><a class="nav-link" >Волонтерство</a>
        <div class="dropdown-content">
          <a routerLink="/free-people" >Стати волонтером</a>
          <a routerLink="/adopt">Усиновити тваринку</a>
          <a routerLink="/">Допомогти речами</a>
          <a routerLink="/gifthouse">Подарувати дім</a>
        </div>
      </li>
      <li class="nav-item "><a class="nav-link" routerLink='/donate'>Донат</a></li>
      <li class="nav-item "><a class="nav-link" routerLink='/about'>Про нас</a></li>
      <li class="nav-item "><a class="nav-link" routerLink='/blog-and-news'>Блог та новини</a></li>
      </div>

      <div class="Phone_and_Tablet d-block d-lg-none ">
      <li class="nav-item "><a class="nav-link" routerLink='/find-f'>Знайти друга</a></li>
      <li class="nav-item "><a class="nav-link" (click)="Openmemu()">Волонтерство</a>
        <div class="dropdown-content" *ngIf="visible">
          <a routerLink="/free-people" (click)="closeMenu()">Стати волонтером</a>
          <a routerLink="/adopt" (click)="closeMenu()">Усиновити тваринку</a>
          <a routerLink="/"(click)="closeMenu()">Допомогти речами</a>
          <a routerLink="/"(click)="closeMenu()">Подарувати дім</a>
        </div>
      </li>
      <li class="nav-item "><a class="nav-link" routerLink='/donate'>Донат</a></li>
      <li class="nav-item "><a class="nav-link" routerLink='/about'>Про нас</a></li>
      <li class="nav-item "><a class="nav-link" routerLink='/blog-and-news'>Блог та новини</a></li>
      </div>


       <div class="Regg d-none d-lg-block" >
        <a routerLink='/sing-in' class="Enter" *ngIf="!isLogged">Вхід</a>
        <a routerLink='/regest' class="Registr"  *ngIf="!isLogged">Зареєструватися</a>

        <div *ngIf="isLogged" class="login">
          <img src="/user.svg" alt="1488" class="photo">
          <button class="btn_out" (click)="logout()">Вийти</button>
         </div>
        <!-- <ol>
          <li class="drop">
               <img src="/imgforlogin" alt="1488" >
            <div class="menulist">
              <a routerLink='/sing-in' class="Enter_pc" *ngIf="!isLogged">Вхід</a>
             <a routerLink='/regest' class="Registr_pc"  *ngIf="!isLogged">Зареєструватися</a>

             <div *ngIf="isLogged">
              <button class="btn_out" (click)="logout()">Вийти</button>
             </div>

            </div>
          </li>
        </ol> -->
  </div>

  <div class="ReggPhone d-block d-lg-none"  >
    <a routerLink='/sing-in' class="Enter">Вхід</a>
    <a routerLink='/regest' class="Registr">Зареєструватися</a>
  </div>
    </ul>
  </div>

</div>
  </nav>

</header>




<router-outlet></router-outlet>

<div class="map-container" *ngIf="isHomePage">
  <h1>Map Shelters</h1>
  <div id="map" style="width: 100%; height: 800px;"></div>

</div>
<footer *ngIf="ShowFooter">
  <div class="footer-container">
    <div class="info-section1">
      <ul>
        <li><a routerLink="/find-f">Знайти друга</a></li>
        <li><a routerLink="/donate">Донат</a></li>
        <li><a routerLink="/about">Про нас</a></li>
        <li><a routerLink="/blog-and-news">Блог та новини</a></li>
      </ul>
    </div>
    <div class="logo-section">
      <img class="imgfooter" src="/Logo.svg" alt="FF_LOGO" />
      <p>Find a Friend</p>
    </div>
    <div class="info-section2">
      <p>Волонтерство</p>
        <ul>
          <li><a routerLink="/free-people">Стати волонтером</a></li>
          <li><a routerLink="/adopt">Усиновити тваринку</a></li>
          <li><a routerLink="/">Допомогти речами</a></li>
          <li><a routerLink="/gifthouse">Подарувати дім</a></li>
        </ul>
    </div>

  </div>
  <div class="credits-section">
    <p class="project">© 2024 Благодійний проєкт</p>
  </div>
</footer>
