<header>
  <nav>
    <ul>
      <li><a routerLink='/find-f'>Знайти друга</a></li>
      <li><a routerLink='/about'>Про нас</a></li>
      <li><a routerLink='/blog-and-news'>Блог та новини</a></li>
      <li><a routerLink='/donate'>Зробити пожертву</a></li>
      <li><a routerLink='/free-people'>Волонтерство</a></li>
    </ul>
  </nav>

  <div class="Regg">
    <a routerLink='/sing-in' class="Enter">Увійти</a>
    <span class="slash">|</span>
    <a routerLink='/regest' class="Registr"> Zaреєструватися</a>
  </div>
</header>

<div class="LinkIcon">
  <a href="">
    <img src="../../public/FFLogo.png" alt="FFLOGO"/>
  </a>
</div>

<router-outlet></router-outlet>

<div id="map" style="width: 100%; height: 600px;" *ngIf="isHomePage"></div>

<div class="map-container" *ngIf="isHomePage">
  <label for="name" class="found">Назва притулку:</label>
  <input type="text" id="name" name="name">
  <button class="foundMAp">Шукати</button>
</div>
