<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="title1"><p>Допомога речами</p> </div>
   <div class="title2"><p>Якщо не має можливості допомогти фінансово або приїхати до притулку, то можете допомогти притулкам речами</p></div>
<div class="col1">
    <div class="help1">
    <p>Притулкам завжди потрібні продукти харчування:</p>
    <ul>
        <li>Крупа (рис, гречка, ячмінна, пшенична)</li>
        <li>Консерви для собак</li>
        <li>Сухий та вологий корм для котів</li>
        <li>М’ясні продукти (обрізки, супові набори, субпродукти)</li>
        <li>Хліб, сухарі</li>
        <li>Кефір, творог</li>
    </ul>
   </div>

   <div class="help2">
    <p>Притулкам завжди потрібні такі медикаменти:</p>
    <ul>
        <li>Хлоргексидин </li>
        <li>Чемі-спрей</li>
        <li>Фукорцин</li>
        <li>Шприці (2-5 мл)</li>
        <li>Вата</li>
        <li>Бинти стерильні/нестирильні</li>
    </ul>
   </div>
</div>
   
   <div class="col2">
     <div class="help3">
    <p>Притулкам завжди потрібні речі:</p>
        <ul>
            <li>Повідки</li>
            <li>Ошийники</li>
            <li>Намордники</li>
            <li>Ковдри</li>
            <li>Миючі засоби (для посуду, для миття різних поверхонь, для вікон)</li>
        </ul>
   </div>

   <div class="help4">
    <p>Соціальна допомога:</p>
        <ul>
            <li>Пошук господарів для тварин</li>
            <li>Пошук людей для допомоги</li>   
            <li>Поширення інформації</li>
        </ul>
   </div>
    
   </div>
  


</body>
</html>