*{ margin: 0; padding: 0; box-sizing: border-box;}
body{width: 100%; height: 100%; }

.function{
    display: flex;
    gap: 20px;
    margin: 20px 200px;
    font-family: 'e-ukr';
    font-size: 15px;
}
.function .add{
    border-radius: 8px;
    border: none;
    background-color: #01bfbf;
    color:white;
    width: 190px;
    height: 27px;
}
.function .delete{
    border-radius: 8px;
    border: none;
    background-color: #01bfbf;
    color:white;
    width: 100px;
    height: 27px;
}
.function .search{
    border-radius: 8px;
    border: none;
    background-color: #01bfbf;
    color:white;
    width: 200px;
    height: 27px;
}
input[type='search']::placeholder{ color: aliceblue;}
input[type='search']{padding: 10px;}

.table{
    margin: 15px 200px;
    width: 80%;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.222);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(10px);
  }
  