<div class="all-items">

    <div class="function">

        <!-- <div class="search-conteiner">
           <p class="search-button">
            <span class="search-icon"><img src="search.png" alt=""></span>
           </p>
          <input class="search" type="search" placeholder="Пошук" [(ngModel)]="search_data.name">
        </div> -->

        <button class="clearbutton" (click)="CleanSearchForm()" *ngIf="search_data_id.id || search_data_id.name || search_data_id.city
        || search_data_id.address ||search_data_id.contactNumber">Очистити пошук</button>
        <button class="search" (click)="OpenSearchForm()"> <img src="search.png" alt=""> Пошук</button>
        <button class="add" (click)="OpenAddForm()"> <img src="add.png" alt="/"> Додати притулок</button>
        <button class="delete" (click)="OpeneDelete()"><img src="delete.png" alt="/" class="del"> Видалити</button>
    </div>

    <div class="table">
        <table class="table1">
            <tr>
                <th class="exclude"></th>
                <th class="exclude"></th>
                <th>ID</th>
                <th>Назва</th>
                <th>Місто</th>
                <th>Адреса</th>
                <th>Телефон</th>
                <th>Кіл. Tварин</th>
                <th>Опис</th>
                <th>Довгота</th>
                <th>Широта</th>

            </tr>
            <tr *ngFor="let shelters of Shelters | filterBy : search_data_id || search_data_name ||search_data_city||search_data_address||search_data_contactNumber">

                <td class="exclude"><button class="edit" (click)="selectShelter(shelters)"><img src="image_admin_edit.png" alt=""></button></td>
                <td class="exclude"> <button class="addpet" (click)="selectShelter_froanimals(shelters)"><img src="BlackCross.png" alt=""></button></td>
                <td>{{shelters.id}}</td>
                <td>{{shelters.name}}</td>
                <td>{{shelters.city}}</td>
                <td>{{shelters.address}}</td>
                <td>{{shelters.contactNumber}}</td>
                <td>{{shelters.animals?.length}}</td>
                <td>{{shelters.description}}</td>
                <td>{{shelters.longitude}}</td>
                <td>{{shelters.latitude}}</td>

            </tr>
        </table>
    </div>
<!-- || search_data_city || search_data_address || search_data_contactNumber -->
    <!-- Модальне вікно для детальної інформації про притулок -->
  <div *ngIf="selectedShelter" class="modal">
    <div class="modal-content">
      <span (click)="closeModal()" class="close-button">&times;</span>
        <!-- <input type="text" id="name" [(ngModel)]="id"> -->
             <h3>Редагування інформації про притулок</h3>
        <label for="name">Ім'я:</label>
        <input type="text" id="name" [(ngModel)]="name" placeholder="Ім'я">
        <label for="city">Місто:</label>
        <input type="text" id="city" [(ngModel)]="city" placeholder="Місто">
        <label for="address">Адреса:</label>
        <input type="text" id="address" [(ngModel)]="address" placeholder="Адреса">
        <label for="contactNumber">Телефон:</label>
        <input type="text" id="contactNumber" [(ngModel)]="contactNumber" placeholder="Телефон">

        <label for="longitude">Довгота:</label>
        <input type="text" id="longitude" [(ngModel)]="longitude" placeholder="Довгота">
        <label for="latitude">Широта:</label>
        <input type="text" id="latitude" [(ngModel)]="latitude" placeholder="Широта">
        <label for="description">Опис:</label>
        <input type="text" id="description" [(ngModel)]="description" placeholder="Опис">
        <div>
            <button class="confirm_edit" (click)="SendEditedShelter()">Внести зміни</button>
        </div>

    </div>
  </div>

  <div *ngIf="selectedShelterForadd" class="modal">
    <div class="modal-content">
      <span (click)="close()" class="close-button1">&times;</span>

             <h3>Додавання притулку</h3>

             <!-- <label for="name">ID:</label>
             <input type="text" id="name" [(ngModel)]="id"> -->
        <label for="name">Ім'я:</label>
        <input type="text" id="name" [(ngModel)]="name" placeholder="Ім'я">
        <label for="city">Місто:</label>
        <input type="text" id="city" [(ngModel)]="city" placeholder="Місто">

        <label for="city">Aдрес:</label>
        <input type="text" id="city" [(ngModel)]="address" placeholder="Aдрес">

        <label for="contactNumber">Телефон</label>
        <input type="text" id="contactNumber" [(ngModel)]="contactNumber" placeholder="Телефон">
        <label for="description">Опис притулку</label>
        <input type="text" id="description" [(ngModel)]="description" placeholder="Опис притулку">

        <label for="description">Зображення</label>
        <input type="text" id="description" [(ngModel)]="imgurl" placeholder="Зображення">

        <label for="description">Широта</label>
        <input type="text" id="description" [(ngModel)]="latitude" placeholder="Широта">

        <label for="description">Довгота</label>
        <input type="text" id="description" [(ngModel)]="longitude" placeholder="Довгота">
        <div>
            <button class="confirm_edit" (click)="AddShelter()">Додати притулок</button>
        </div>

    </div>
  </div>

  <div *ngIf="searchInfo" class="modal_for_search">
    <div class="modal-content">
      <span (click)="closeSearch()" class="close-button1">&times;</span>

         <label for="id">ID:</label>
         <input type="text" [(ngModel)]="search_data_id.id" placeholder="ID притулку">

         <label for="name">Ім'я:</label>
         <input type="text" [(ngModel)]="search_data_id.name" placeholder="Ім'я">

         <label for="city">Місто:</label>
         <input type="text" [(ngModel)]="search_data_id.city" placeholder="Місто">

         <label for="address">Адреса:</label>
         <input type="text" [(ngModel)]="search_data_id.address"  placeholder="Адреса">

         <label for="contactNumber">Номер телефону:</label>
         <input type="text" [(ngModel)]="search_data_id.contactNumber"  placeholder="Номер телефону">

         <button (click)="closeSearch()">Знайти</button>
    </div>
  </div>
</div>

<div *ngIf="DELETE" class="modal">
  <div class="modal-content">
    <span (click)="closeModalDelete()" class="close-button">&times;</span>

           <h3></h3>
      <label for="name">ID:</label>
      <input type="text" id="name" [(ngModel)]="id_for_delete"  placeholder="ID притулку">

      <div>
          <button class="confirm_edit" (click)="confirmDelete()">Видалити</button>
      </div>
    <!-- (click)="seandDelete()" -->
  </div>
</div>

<div *ngIf="selectedShelter_For_Add_Animals" class="modal">
  <div class="modal-content">
    <span (click)="closeFor_Add_Animals()" class="close-button2">&times;</span>
           <h3>Додвання тваринки до притулку</h3>
           <label for="id">ID притулку куди буде додана тваринка:</label>
            <input type="number" id="id" [(ngModel)]="id" placeholder="ID притулку куди буде додана тваринка">

            <!-- <label for="name">ID тваринки:</label>
            <input type="number" id="name" [(ngModel)]="id_animals"> -->

            <label for="age">Вік тваринки:</label>
            <input type="number" id="age" [(ngModel)]="age_animals"  placeholder="Вік тваринки">

            <label for="des">Опис тваринки:</label>
            <input type="text" id="des" [(ngModel)]="descript_animals" placeholder="Опис тваринки">

            <label for="name">Ім'я тваринки:</label>
            <input type="text" id="name" [(ngModel)]="name_animals" placeholder="Ім'я тваринки">

            <label for="sex">Стать тваринки:</label>
            <input type="text" id="sex" [(ngModel)]="sex_animals" placeholder="Стать тваринки">

            <label for="size">Розмір тваринки:</label>
            <input type="text" id="size" [(ngModel)]="size_animals" placeholder="Розмір тваринки">

            <label for="type">Тип тваринки:</label>
            <input type="text" id="type" [(ngModel)]="type_animals" placeholder="Тип тваринки">

            <label for="url">Посилання на зображення:</label>
            <input type="text" id="url" [(ngModel)]="url_animals" placeholder="Посилання на зображення">

            <input type="hidden" id="city" [(ngModel)]="city_animals" >
            <input type="hidden" id="shelterphine" [(ngModel)]="contactshelter_animals">
      <div>
          <button class="confirm_edit" (click)="Aniamls()">Додати тваринку</button>
      </div>

  </div>
</div>
