<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Find a Friend - друзі</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <button class="scroll-to-top" (click)="scrollToTop()"  [class.show]="isScrollToTopVisible">↑</button>

  <div class="shelters-container">
    <h2>Притулки</h2>
    <div class="shelter-cards">
      <div *ngFor="let shelter of shelters"  class="shelter-card"  (click)="selectShelter(shelter)">
          <h3 class="nameshelter">Притулок  {{shelter.name }}</h3>
        <img [src]="shelter.name" alt="{{ shelter.city }}" />
        <h3 >Контактна інформація</h3>

        <p>м. {{ shelter.city }}</p>
        <!-- <p>ID: {{ shelter.id }}</p> -->
        <p>Адреса: {{ shelter.address }}</p>
        <p>Телефон: {{ shelter.contactNumber }}</p>
        <p>Email: {{ shelter.email }}</p>

        <h3>Ревізити для переказу:</h3>
        <p>{{ shelter.card }}</p>
        <p>{{ shelter.paypal }}</p>
        <p>{{ shelter.iban }}</p>
      </div>
    </div>
  </div>

  <!-- Модальне вікно для детальної інформації про притулок -->
  <div *ngIf="selectedShelter" class="modal">
    <div class="modal-content">
      <span (click)="closeModal()" class="close-button">&times;</span>
      <h2>м. {{ selectedShelter.city }}</h2>
      <h3 class="nameshelter" >Притулок  {{selectedShelter.name }}</h3>
      <img [src]="selectedShelter.imageURL" alt="{{ selectedShelter.city }}" />
      <h3>Контактна інформація</h3>

      <!-- <p>ID: {{ shelter.id }}</p> -->
      <p>Адреса: {{ selectedShelter.address }}</p>
      <p>Телефон: {{ selectedShelter.contactNumber }}</p>
      <p>Email: {{ selectedShelter.email }}</p>

      <h3>Ревізити для переказу:</h3>
      <p>{{ selectedShelter.card }}</p>
      <p>{{ selectedShelter.paypal }}</p>
      <p>{{ selectedShelter.iban }}</p>
    </div>
  </div>


  <div class="Prozoro">
    <h1>Всі перекази притулкам є прозорими</h1>
    <h2>Прозорість у процесі пожертви є однією з найважливіших особливостей, яка сприяє довірі користувачів до організації та її діяльності.</h2>

    <ol>
      <li><b>Інформація про використання коштів</b>
        <ul>
          <li><b>Звітність:</b> Регулярні звіти про фінансові витрати організації, де зазначаються напрямки витрат, наприклад, на харчування, медичні послуги або утримання тварин.</li>
          <li><b>Проекти та ініціативи:</b> Інформація про конкретні програми, на які спрямовані пожертви, допомагає користувачам бачити, як їхня допомога робить позитивний внесок.</li>
        </ul>
      </li>

      <li><b>Прозорість платежів</b>
        <ul>
          <li><b>Безпечні платіжні системи:</b> Використання перевірених платіжних платформ забезпечує безпеку і прозорість фінансових транзакцій. Користувачі отримують підтвердження платежу, що підвищує рівень довіри до організації.</li>
          <li><b>Кодування даних:</b> Захист особистих даних користувачів під час обробки платежів гарантує, що інформація не буде доступною для третіх осіб.</li>
        </ul>
      </li>

      <li><b>Доступ до інформації</b>
        <ul>
          <li><b>Легкий доступ до звітів:</b> Організація повинна надавати доступ до фінансових звітів і інформації про використання пожертв через свій веб-сайт, щоб кожен міг легко ознайомитися з даними.</li>
          <li><b>Комунікація з донорами:</b> Регулярні оновлення та звіти про досягнення організації допомагають підтримувати зв'язок із донорами і показують, як їхня допомога допомагає тваринам.</li>
        </ul>
      </li>

      <li><b>Відгуки та оцінка</b>
        <ul>
          <li><b>Відгуки від донорів:</b> Можливість залишити відгук про досвід пожертви та взаємодії з організацією підвищує рівень прозорості і дозволяє новим користувачам зрозуміти, як організація працює.</li>
          <li><b>Системи оцінки:</b> Користувачі можуть оцінювати свої враження від процесу пожертви, що допомагає організації вдосконалювати свої послуги.</li>
        </ul>
      </li>
    </ol>
  </div>

</body>
</html>
