<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Find a Friend - друзі</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

  <div class="container">
    <input type="text" id="name" name="name" placeholder="Введіть назву притулка">
    <button class="Don">За донатити</button>
</div>

<div class="Prozoro">
  <h1>Всі перекази притулкам є прозорими</h1>
  <h2>
    Прозорість у процесі пожертви є однією з найважливіших особливостей, яка сприяє довірі користувачів до організації та її діяльності. 
  </h2>
  <p>
    <b>1.Інформація про використання коштів</b><br>
    Користувачі мають право знати, як їхні пожертви будуть використані. Це може включати:<br>
    <b>Звітність:</b> Регулярні звіти про фінансові витрати організації, в яких зазначаються напрямки витрат, наприклад, на харчування, медичні послуги або утримання тварин.
    <br><b>Проекти та ініціативи:</b> Інформація про конкретні програми, на які спрямовані пожертви, допомагає користувачам бачити, як їхня допомога робить позитивний внесок.
    <br> <b>2. Прозорість платежів</b>
    <br><b>Безпечні платіжні системи:</b> Використання перевірених платіжних платформ забезпечує безпечність і прозорість фінансових транзакцій. Користувачі отримують підтвердження платежу, що підвищує рівень довіри до організації.
    <br> <b>Кодування даних:</b> Захист особистих даних користувачів під час обробки платежів гарантує, що інформація не буде доступною для третіх осіб.
    <br> <b>3. Доступ до інформації</b>
    <br> <b>Легкий доступ до звітів:</b> Організація повинна надавати доступ до фінансових звітів і інформації про використання пожертв через свій веб-сайт, щоб кожен міг легко ознайомитися з даними.
    <br><b>Комунікація з донорами:</b> Регулярні оновлення та звіти про досягнення організації допомагають підтримувати зв'язок із донорами і показують, як їхня допомога допомагає тваринам.
    <br> <b>4. Відгуки та оцінка</b>
    <br> <b>Відгуки від донорів:</b> Можливість залишити відгук про досвід пожертви та взаємодії з організацією підвищує рівень прозорості і дозволяє новим користувачам зрозуміти, як організація працює.
    <br> <b>Системи оцінки:</b> Користувачі можуть оцінювати свої враження від процесу пожертви, що допомагає організації вдосконалювати свої послуги.
  </p>
</div>

</body>
</html>
