<div class="all-items">

    <div class="function">

        <!-- <div class="search-conteiner">
           <p class="search-button">
            <span class="search-icon"><img src="search.png" alt=""></span>
           </p>
          <input class="search" type="search" placeholder="Пошук" [(ngModel)]="search_data.name">
        </div> -->
        <button class="clearbutton" (click)="CleanSearchForm()" *ngIf="search_data_id.id || search_data_id.name || search_data_id.city
         ||search_data_id.age ||search_data_id.sex ||search_data_id.size ||search_data_id.type || search_data_id.shelterName">Очистити пошук</button>
        <button class="search" (click)="OpenSearchForm()"> <img src="search.png" alt=""> Пошук</button>
        <!-- <button class="add" (click)="OpenAddForm()"> <img src="add.png" alt="/"> Додати притулок</button> -->
        <button class="delete" (click)="OpeneDelete()"><img src="delete.png" alt="/" class="del"> Видалити</button>
    </div>

    <div class="table">
        <table>
            <tr>
                <th  class="exclude"></th>
                <th>ID</th>
                <th>Ім'я</th>
                <th>Вік</th>
                <th>Місто</th>
                <th>Опис</th>
                <th>Стать</th>
                <th>Розмір</th>
                <th>Тип</th>
                <th>Фото</th>
                <th>Вакцинована</th>
                <th>Стерелізована</th>
                <th>Потребує особливого догляду</th>
                <th>Телефон</th>
                <th>Назва притулку</th>

            </tr>
            <tr *ngFor="let all_animals of All_Animals | filterBy : search_data_id || search_data_name ||search_data_city
            ||search_data_age||search_data_sex ||search_data_size ||search_data_type || search_data_shelterName ">
                <td  class="exclude"><button class="edit" (click)="selectShelter(all_animals)"><img src="image_admin_edit.png" alt=""></button></td>
                <td>{{all_animals.id}}</td>
                <td>{{all_animals.name}}</td>
                <td>{{all_animals.age}}</td>
                <td>{{all_animals.city}}</td>
                <td>{{all_animals.description}}</td>
                <td>{{all_animals.sex}}</td>
                <td>{{all_animals.size}}</td>
                <td>{{all_animals.type}}</td>
                <td><span class="short_url" title="{{all_animals.imageURL}}">{{all_animals.imageURL}}</span></td>
                <td>{{all_animals.vaccinated}}</td>
                <td>{{all_animals.sterilized}}</td>
                <td>{{all_animals.specialCare}}</td>
                <td>{{all_animals.shelterPhoneNumber}}</td>
                <td>{{all_animals.shelterName}}</td>

            </tr>
        </table>
    </div>


    <div *ngIf="selectedAnimal" class="modal">
        <div class="modal-content">
          <span (click)="closeModal()" class="close-button">&times;</span>
             <input type="hidden" id="name" [(ngModel)]="id">
             <input type="hidden" name="" id="idshelter" [(ngModel)]="idsgelter">

                 <h3>Редагування інформації про тваринку</h3>
            <label for="name">Ім'я:</label>
            <input type="text" id="name" [(ngModel)]="name">

            <label for="address">Вік:</label>
            <input type="text" id="address" [(ngModel)]="age">

            <label for="city">Місто:</label>
            <input type="text" id="city" [(ngModel)]="city">

            <label for="address">Опис:</label>
            <input type="text" id="address" [(ngModel)]="descript">

            <label for="contactNumber">Розмір:</label>
            <input type="text" id="contactNumber" [(ngModel)]="size">

          <label for="contactNumber">Фото:</label>
          <input type="text" id="photo" [(ngModel)]="imageurl">

            <div class="check">
              <label for="vaccinated">Вакцинована:</label>
            <input type="checkbox" id="vaccinated" [(ngModel)]="vaccinated" placeholder="Вакцинована">
            <label for="steril">Стерелізована:</label>
            <input type="checkbox" id="steril" [(ngModel)]="steril" placeholder="Вакцинована">
            <label for="specialCare">Потребує особливого догляду:</label>
            <input type="checkbox" id="specialCare" [(ngModel)]="specialCare" placeholder="Вакцинована">
            </div>

            <div>
                <button class="confirm_edit" (click)="SendEditedAnimal()">Внести зміни</button>
            </div>

        </div>
      </div>

  <div *ngIf="searchInfo" class="modal_for_search">
    <div class="modal-content">
      <span (click)="closeSearch()" class="close-button1">&times;</span>

         <label for="id">ID:</label>
         <input type="text" [(ngModel)]="search_data_id.id" placeholder="ID тваринки">

         <label for="name">Ім'я:</label>
         <input type="text" [(ngModel)]="search_data_id.name" placeholder="Ім'я">

         <label for="city">Місто:</label>
         <input type="text" [(ngModel)]="search_data_id.city" placeholder="Місто">

         <label for="address">Вік:</label>
         <input type="text" [(ngModel)]="search_data_id.age"  placeholder="Вік">

         <label for="sex">Стать:</label>
         <input type="text" [(ngModel)]="search_data_id.sex"  placeholder="Стать">

         <label for="size">Розмір:</label>
         <input type="text" [(ngModel)]="search_data_id.size"  placeholder="Розмір">

         <label for="type">Тип:</label>
         <input type="text" [(ngModel)]="search_data_id.type"  placeholder="Тип">

         <label for="namesh">Назва притулку:</label>
         <input type="text" [(ngModel)]="search_data_id.shelterName"  placeholder="Назва притулку">

         <button (click)="closeSearch()">Знайти</button>
    </div>
  </div>
</div>

<div *ngIf="DELETE" class="modal">
  <div class="modal-content">
    <span (click)="closeModalDelete()" class="close-button">&times;</span>

      <label for="name">ID:</label>
      <input type="number" id="name" [(ngModel)]="id_for_delete" placeholder="ID тваринки">

      <div>
          <button class="confirm_edit" (click)="confirmDelete()">Видалити</button>
      </div>
    <!-- (click)="seandDelete()" -->
  </div>
</div>


