*{ margin: 0; padding: 0; box-sizing: border-box;}
body{width: 100%; height: 100%; }

.function{
    display: flex;
    gap: 20px;
    margin: 20px 130px;
    font-family: 'e-ukr';
    font-size: 15px;
}
.function .add{
    border-radius: 8px;
    border: none;
    background-color: #01bfbf;
    color:white;
    width: 190px;
    height: 27px;
    
}
.function .add img{width: 15px; height: 15px; position: relative; top: -1.5px; right: 5px;}
.function .delete{
    border-radius: 8px;
    border: none;
    background-color: #01bfbf;
    color:white;
    width: 130px;
    height: 27px;
    text-align: start;
}
.function .delete .del{width: 22px; height: 22px; position: relative; top: -1.5px; left: 6px; margin-right: 5px;}

.function .add:hover{ background-color: #7d8080; transition: 0.2s ease-in-out;}
.function .delete:hover{ background-color: #7d8080; transition: 0.2s ease-in-out;}
.function .search:hover{ background-color: #7d8080; transition: 0.2s ease-in-out;}


/* .function .search-conteiner{
    display: flex;
    align-items: center;
    background-color: #01bfbf;
    border-radius: 10px;
    padding-left: 10px;
}   */

.function .search{
    border-radius: 8px;
    border: none;
    background-color: #01bfbf;
    color:white;
    width: 200px;
    height: 27px;
    text-align: start;
}
/* .function .search:focus{ outline: none;} */
/* .function .search-conteiner .search-button{border: none;background-color: #01bfbf;} */

.function  .search img { width: 23px; height: 23px; position: relative; top: -1.5px; left: 5px;}

input[type='search']::placeholder{ color: aliceblue;}
input[type='search']{padding: 10px;}

.table{
    margin: 15px 100px;
    width: 80%;
}
.short_url{
  display: block;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modal, .modal_for_add,.modal_for_search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.222);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(10px);
  }

  .modal-content{
    background-color: white;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
  }
  .edit{border: none; background-color: white;}
  .edit img{ width: 15px; height: 15px;}
  th, td {
    border: 2px solid rgb(194, 192, 192);
  }
  th.exclude, td.exclude {
    border: none; 
    background-color: white;
  }
  th, td{
   text-align: center;
  }
  .clearbutton{
    border: none;
  background-color: #727272;
  padding: 8px;
  border-radius: 5px;
  color: aliceblue;
  transition: 0.3s ease-in-out;
  }
  .clearbutton:hover{  background-color: #646262;
  }

  .modal_for_search button,.modal button{
    border: none;
    background-color: #01bfbf;
    padding: 3px;
    border-radius: 5px;
    margin-top: 10px;
    color: aliceblue;
  }
  .modal_for_search button:hover,.modal button:hover{background-color: #01a9a9;}
  .modal_for_search input ,.modal input{
    border-radius: 7px;
    border: 1px solid #b1b1b1;
    padding: 2px;
  }
  .modal_for_search label ,.modal input{font-weight: bold;}
  .modal h3{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .close-button,
.close-button1,
.close-button2{
  height: 45px;
  width: 45px;
  cursor: pointer;
  float: right;
  font-size: 28px;
  background-color: #cccccca4;
  border-radius: 100%;
  display: grid;
  place-content: center;
  position: absolute;
  right: -30px;
  top: -30px;
}
.close-button:hover,
.close-button1:hover,
.close-button2:hover {
  background-color: #ccccccb4;
}
  
.check{
  margin: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.check input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
  accent-color: #01a9a9;
}

.check input[type="checkbox"]:hover {
  cursor: pointer;
}























  /* .modal_for_add {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.222);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(10px);
  } */

  /* .modal_for_search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.222);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(10px);
  } */