*{ margin: 0; padding: 0; box-sizing: border-box;}
body{width: 100%; height: 100%; }

.function{
    display: flex;
    gap: 20px;
    margin: 20px 200px;
    font-family: 'e-ukr';
    font-size: 15px;
}
.function .add{
    border-radius: 8px;
    border: none;
    background-color: #01bfbf;
    color:white;
    width: 190px;
    height: 27px;
    
}
.function .add img{width: 15px; height: 15px; position: relative; top: -1.5px; right: 5px;}
.function .delete{
    border-radius: 8px;
    border: none;
    background-color: #01bfbf;
    color:white;
    width: 130px;
    height: 27px;
    text-align: start;
}
.function .delete .del{width: 22px; height: 22px; position: relative; top: -1.5px; left: 6px; margin-right: 5px;}

.function .add:hover{ background-color: #7d8080; transition: 0.2s ease-in-out;}
.function .delete:hover{ background-color: #7d8080; transition: 0.2s ease-in-out;}
.function .search:hover{ background-color: #7d8080; transition: 0.2s ease-in-out;}


/* .function .search-conteiner{
    display: flex;
    align-items: center;
    background-color: #01bfbf;
    border-radius: 10px;
    padding-left: 10px;
}   */

.function .search{
    border-radius: 8px;
    border: none;
    background-color: #01bfbf;
    color:white;
    width: 200px;
    height: 27px;
    text-align: start;
}
/* .function .search:focus{ outline: none;} */
/* .function .search-conteiner .search-button{border: none;background-color: #01bfbf;} */

.function  .search img { width: 23px; height: 23px; position: relative; top: -1.5px; left: 5px;}

input[type='search']::placeholder{ color: aliceblue;}
input[type='search']{padding: 10px;}

.table{
    margin: 15px 200px;
    width: 80%;
}
.modal, .modal_for_add,.modal_for_search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.222);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(10px);
  }

  .modal-content{
    background-color: white;
    width: 90%;
    padding: 10px;
  }
  .edit{border: none;}
  .edit img{ width: 15px; height: 15px;}

























  /* .modal_for_add {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.222);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(10px);
  } */

  /* .modal_for_search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.222);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(10px);
  } */