<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Find a Friend - друзі</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="Blog">
  <!-- <h1>Блог</h1> -->
  <h2>"Як обрати свого майбутнього друга в притулку?"</h2>
  <p>Вибір домашнього улюбленця – відповідальний крок, який потребує серйозного підходу.
    В притулках на вас чекає чимало тварин, кожна з яких має унікальну історію та потреби.
    Перш за все, оцініть свої можливості: як багато часу ви можете присвятити догляду, якими є умови проживання та ваш бюджет.
    Спілкуйтеся з працівниками притулку – вони завжди готові розповісти про характери тварин і допомогти знайти вашого ідеального друга.
    Обравши тварину, пам'ятайте, що адаптація може потребувати часу та терпіння,
    але в результаті ви отримаєте вірного і люблячого супутника на все життя.</p>
</div>

<div class="News">
  <!-- <h1>Новини</h1> -->
  <h2> Нове прибуття котиків та песиків у наш притулок! </h2>
  <p>
    Цього тижня до нашого притулку приїхало понад 10 тварин із різних місць.
    Вони пройшли медичний огляд та чекають на нових господарів.
    Якщо ви шукаєте друга – приходьте знайомитися! Наші волонтери допоможуть вибрати тварину, що найбільше підійде саме вам.
  </p>
  <h2>   Безкоштовна вакцинація для всіх новоприбулих тварин у листопаді </h2>
  <p> Ми розпочинаємо акцію з безкоштовної вакцинації для всіх тварин, що потрапили до притулку з 1 листопада.
    Це допоможе захистити тварин від інфекцій та підготувати їх до зустрічі з новими родинами.
    Дякуємо всім, хто підтримує наш притулок та піклується про здоров'я тварин.
  </p>
  <h2>  Волонтерська програма "Стань другом на вихідних" </h2>
  <p>   Запрошуємо усіх бажаючих долучитися до волонтерської програми "Стань другом на вихідних."
    Учасники можуть забрати тварину на вихідні, провести з нею час та допомогти в адаптації до життя в сім'ї.
    Це чудова можливість спробувати себе в ролі господаря та, можливо, знайти свого майбутнього друга. </p>

</div>

<div class="paw">
  <img src="paw.png" alt="paw">
</div>

<div class="paw1">
  <img src="paw.png" alt="paw"  >
</div>

<div class="paw2">
  <img src="paw.png" alt="paw">
</div>

<div class="paw3">
  <img src="paw.png" alt="paw">
</div>

</body>
</html>
