<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Find a Friend про проєкт </title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class="Title">
  <h1>Навіщо Find a Friend </h1>
  <p>У сучасних умовах, коли кількість безпритульних тварин в Україні стрімко зростає, важливо мати ефективні інструменти для їх усиновлення та підтримки притулків.
    Find a Friend допомагає людям швидко і зручно знаходити тварин, готових до нової домівки, та надає можливість підтримати притулки в їхній важливій роботі. </p>
  <h1>Наша місія </h1>
  <p>Cтворити платформу, що об'єднує людей, які бажають усиновити тварину, з притулками, які потребують допомоги.
    Ми прагнемо зменшити кількість безпритульних тварин в Україні, сприяючи їх усиновленню та надаючи інформацію про притулки. </p>
  <h1>Наша ціль </h1>
  <p>Ми ставимо за мету розробити зручний веб-застосунок, який включатиме інтерактивну карту, фільтри для пошуку тварин за різними критеріями та форми для подачі заявок на усиновлення.
    Ми хочемо забезпечити максимально простий і зручний процес для тих, хто готовий надати новий дім тварині або підтримати притулки в їхній діяльності. </p>

</div>

<div class="WorldTitle">
 </div>

</body>
</html>
