/* Основні стилі */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  /* font-family:'e-ukr'; */
  background-color: #ffffff;
  color: #333;
position: relative;
overflow-x: hidden;
}


.allTitle{
  margin: 20px auto;
  /* display: flex; */
  
}
.Title1, .Title2,.Title3 {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  /* width: 40%;
  height: 600px; */
  /* background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); */
  display: grid;
  place-items: center;
  
 

}


.Title1 h1,.Title2 h1,.Title3 h1{
  font-family: "e-ukr";
  color: #000000;
  border-radius: 15px;
  /* background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); */
  margin-bottom: 5px;
  /* animation: fadeIn 1.5s ease-in-out; */
  width: 100%;
  height: 15%;
  display: grid;
  place-items: center;
}

.Title1 p,.Title2 p ,.Title3 p{
  font-family: "e-ukr";
  line-height: 0.9cm;
  font-size: large;
  text-align: center;
  padding: 30px;
  /* border-radius: 15px; */
  /* background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); */
  /* animation: fadeIn 1.5s ease-in-out; */
  width: 80%;
  height:100%;
  
}



/* Декоративні елементи */
/* .Title1:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease;
}

.Title2:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease;
}

.Title3:hover {
  transform: scale(1.04);
  transition: transform 0.3s ease;
} */


/* Анімація для заголовка */
@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-40px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


.alltext{
  font-family: "e-ukr";
  margin-left: 30px;
  margin-right: 15px;
  
}

.rl{
  display: grid;
  place-items: center;
 margin-top: 70px;
}
.rl a{
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;  
  background-color: hwb(34 0% 1%);
  border-radius: 8px;
  display: grid;
  place-items: center;
  width: 250px;
  height:50px;
  /* margin-bottom: 30px; */
  
  
}

.rl a:hover{
  background-color: rgb(230, 130, 0);
  transition: 0.2s ease-in-out;
}


.step{
position: relative;  
}
.step h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;

}
.steptext{

  text-align: center;
  width: 55%;
  margin: 0 auto;
  line-height: 1.9;
  font-size: large;
  /* margin-bottom: 30px; */
  
}

.dog {
position: relative;   
}
.dog img{
position: absolute;
left: -100px;
top: -280px

}

.paw{
  position: absolute;
  top: 680px;
  left: 100px;
  transform: rotate(30deg); 
}

.paw img{
  width: 120px;
  height: 120px;
}

.paw1{
  position: absolute;
  top: 730px;
  left: -30px;
  transform: rotate(30deg); 
}

.paw1 img{
  width: 120px;
  height: 120px;
}


.paw2{
  position: absolute;
  top: 100px;
  left: 1370px;
  transform: rotate(-150deg); 
  
}

.paw2 img{
  width: 120px;
  height: 120px;
}


.paw3{
  position: absolute;
  top: 50px;
  left: 1470px;
  transform: rotate(-150deg); 

}

.paw3 img{
  width: 120px;
  height: 120px;
   
}

.cat{
position: absolute;
top: 280px;
left: 880px;
}
.cat img{
  width: 350px;
  height: 200px;
  margin-top: -20px;
}

.list{
  margin-bottom: 100px;
  
}
.list h1{
 text-align: center;
 margin-bottom: 15px;
 
}
.listtext{
  text-align: center;

}
.listtext ol {
  padding-left: 0;
  list-style-position: inside;

}
.listtext ol li{
  margin: 10px 0;
  font-size: large;
}

.how{
margin-bottom: 100px;
}
.how h1 {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-bottom: 10px;
}
.howtext{
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  width: 70%;
  margin: 0 auto;
  line-height: 0.8cm;
  font-size: large;
}
.find{
width: 60%; /* Ширина блоку */
margin: 0 auto; /* Центрування по горизонталі */
text-align: left; /* Текст вирівняний ліворуч */
margin-bottom: 200px;
margin-top: 50px;
}

.find h1{
  margin-bottom: 10px;
}
.textfind{
  font-family: 'e-ukrL';
  line-height: 0.9cm;
  margin-bottom: 15px;
  font-size: x-large;
  
}

.textfind1{
  font-family: 'e-ukrL';
  line-height: 0.9cm;
  font-size: x-large;
}

.Dev{
  display: flex;
  margin-top:1cm;
  gap: 90px;
  
}
.devtitle h1{
  margin-top: 7cm;
  display: grid;
  place-items: center;
  margin-bottom: 40px;
}
.Dev1{
  background: hsla(0, 0%, 100%, 0.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  display: grid;
  place-items: center;
  max-height: 500px;
  /* max-width:  20%; */
  /* margin-left: 90px; */
  margin-bottom: 20px;
  font-family: 'e-ukrL';
  font-size: small;
}
.Dev1 .AB{max-width: 70%; max-height: 60%; border-radius: 10px; margin-top: -30px;}
.Dev1 ,.name, .job{display: grid; place-items: center;}
.name{ margin-top: -70px;}
.job{ margin-top: -20px; margin-bottom: 10px;}

.contactu{
  display: grid;
  place-items: center;
  /* max-height: 100px;
  max-width: 20%; */
  /* background-color: rgb(255, 0, 0); */
  margin: auto 50px;
  border-radius: 30px
}

.contactu ol{
   display: flex; 
  list-style-type: none;
}
  /* .contactu img{
    width: 65px;
    height: 65px;
  } */
   
.git{
  width: 57px;
  height: 57px;
  margin-right: 20px;
}
.tel{
  width: 59px;
  height: 59px;
  margin-left: 20px;
}
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff8e04;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 100px;
  cursor: pointer;
  display: none;
  z-index: 1000;
  font-size: xx-large;
}
.scroll-to-top.show {
  display: block;
}

@media (min-width: 730px) {
  .Dev{
   flex-wrap: wrap;
   display: flex;
   justify-content: center;

  }
}
@media (max-width: 730px) {
  .Dev{
   display: grid;
   place-content: center;
  }
}

@media (max-width: 1024px) {
   .find{width: 85%;}
   .howtext {width: 80%;}
   .listtext{font-size: x-large;}
   .Title1 p,.Title2 p ,.Title3 p{ width: 90%;}
}

@media (min-width: 320px) and (max-width: 426px) {
  .find{width: 100%; }
  .howtext {width: 100%;}
  .listtext{font-size: x-large;}
  .Title1 p,.Title2 p ,.Title3 p{ width: 100%; padding: 0px; text-align: center;}
  .Title1 h1,.Title2 h1,.Title3 h1 { margin-bottom: 35px;}
  .steptext{width: 100%; text-align: center;}
  .step h1{text-align:center;}
  .alltext{margin: auto 15px;}
}



@media (max-width: 1050px) {
  .paw{
    position: absolute;
    top: 680px;
    left: 0px;
    transform: rotate(30deg); 
    display: none;
  }
  
  .paw img{
    width: 120px;
    height: 120px;
  }
  
  .paw1{
    display: none;
  }
  
  .paw1 img{
    width: 120px;
    height: 120px;
  }

  .dog img{
    display: none;
    position: absolute;
    left: -200px;
    top: -280px
    
    }

    .cat{
      position: absolute;
      top: 350px;
      left: 780px;
      }
      .cat img{
        width: 350px;
        height: 200px;
        margin-top: -20px;
      }
}