<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Find a Friend про проєкт </title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <button class="scroll-to-top" (click)="scrollToTop()"  [class.show]="isScrollToTopVisible">↑</button>

<div class="alltext" >
  <div class="find">
    <h1>Знайдіть собі друга!</h1>
    <div class="textfind">
      Ласкаво просимо на наш сайт – платформу, яка допомагає знайти та дати дім тваринам, які потребують турботи та любові.
    </div>
    <div class="textfind1">
      Тут зібрані тварини різного віку, порід та характерів, готові<br> стати частиною вашої родини.
    </div>


    </div>
  <div class="how">
    <h1>Як це працює?</h1>
    <div class="howtext">
        Наш сайт спрощує процес пошуку та знайомства з тваринами, яких ви можете взяти додому.
    Кожна тварина має докладний профіль з фотографіями, описом, віком та особливостями характеру.
    Ви можете відфільтрувати тварин за своїми уподобаннями та знайти того, хто ідеально підійде вашій родині.
    </div>
  </div>

  <div class="list">
     <h1>Чому варто взяти тварину з нашого сайту?</h1>
    <div class="listtext">
       <ol>
      <li>Підтримка тварин, які потребують дому. Ви допомагаєте тваринам отримати новий шанс на щасливе життя.</li>
      <li>Перевірені профілі. Кожна тварина ретельно перевірена, а профілі регулярно оновлюються.</li>
      <li>Безпека адаптації. Ми пропонуємо підтримку у період адаптації, щоб ваш новий друг легко звик до нової оселі.</li>
    </ol>
  </div>

  </div>

  <div class="allTitle">
    <div class="Title1">
      <h1>Навіщо Find a Friend </h1>
      <p>У сучасних умовах, коли кількість безпритульних тварин в Україні стрімко зростає, важливо мати ефективні інструменти для їх усиновлення та підтримки притулків.
        Find a Friend допомагає людям швидко і зручно знаходити тварин, готових до нової домівки, та надає можливість підтримати притулки в їхній важливій роботі. </p>
    </div>

     <div class="Title2">

      <h1>Наша місія </h1>
      <p>Cтворити платформу, що об'єднує людей, які бажають усиновити тварину, з притулками, які потребують допомоги.
        Ми прагнемо зменшити кількість безпритульних тварин в Україні, сприяючи їх усиновленню та надаючи інформацію про притулки. </p>

    </div>

    <div class="Title3">

      <h1>Наша ціль </h1>
      <p>Ми ставимо за мету розробити зручний веб-застосунок, який включатиме інтерактивну карту, фільтри для пошуку тварин за різними критеріями та форми для подачі заявок на усиновлення.
        Ми хочемо забезпечити максимально простий і зручний процес для тих, хто готовий надати новий дім тварині або підтримати притулки в їхній діяльності. </p>

    </div>
    </div>

  <div class="step">
    <h1>Зробіть крок до нової дружби!</h1>
    <div class="steptext">
      Перегляньте доступні профілі роботи тварин, яких до того, щоб подарувати їм новий дім та нове щасливе життя.
    Разом ми зможемо знайти для них ту турботу, яку вони потребують.
  </div>

  </div>
  <div class="rl">
    <a routerLink='/find-f'>Знайти друга</a>
  </div>

  <div class="dog">
    <img class="img-fluid"  src="goldendog.png" alt="Золотистий ретвиллер" >
  </div>

  <div class="paw">
    <img src="paw.png" alt="paw">
  </div>

  <div class="paw1">
    <img src="paw.png" alt="paw"  >
  </div>

  <div class="paw2">
    <img src="paw.png" alt="paw">
  </div>

  <div class="paw3">
    <img src="paw.png" alt="paw">
  </div>

  <div class="cat">
    <img src="redcar.png" alt="cat">
  </div>

 </div>



<div class="devtitle">
<h1>Наша команда</h1>
</div>

<div class="Dev">

  <div class="Dev1">
    <img class="AB" src="/artem.jpg" alt="FF_LOGO"/>
    <p class="name">Artem Bilinskyi</p>
    <p class="job">Project Manager, Backend Developer</p>
    <div class="contactu">
    <ol>
      <li> <a href="https://github.com/Bil1111" target="_blank"> <img class="git" src="/github.png" alt="github"> </a></li>
      <li> <a href="https://t.me/ArtemBilinskyi" target="_blank"> <img class="tel" src="/telegram.png" alt="telegram"> </a></li>
    </ol>
  </div>
    </div>

    <div class="Dev1">
      <img class="AB" src="/roma.jpg" alt="FF_LOGO"/>
      <p class="name">Roman Savchenko</p>
      <p class="job">Team Lead, Backend Developer</p>
      <div class="contactu">
      <ol>
        <li> <a href="https://github.com/Dangle228" target="_blank"> <img class="git" src="/github.png" alt="github"> </a></li>
        <li> <a href="https://t.me/Roma228_1337" target="_blank"> <img class="tel" src="/telegram.png" alt="telegram"> </a></li>
      </ol>
    </div>
      </div>

      <div class="Dev1">
        <img class="AB" src="/Logo.svg" alt="FF_LOGO"/>
        <p class="name">Pavlo Kovtun</p>
        <p class="job">UX/UI Designer,Fronted Developer</p>
        <div class="contactu">
        <ol>
          <li> <a href="https://github.com/PINK-MOON-BLOOD" target="_blank"> <img class="git" src="/github.png" alt="github"> </a></li>
          <li> <a href="https://t.me/PINK_MOON_BLOOD" target="_blank"> <img class="tel" src="/telegram.png" alt="telegram"> </a></li>
        </ol>
      </div>
        </div>

        <div class="Dev1">
          <img class="AB" src="/Logo.svg" alt="FF_LOGO"/>
          <p class="name">Oleksandr Samsoniuk </p>
          <p class="job">UX/UI Designer,Fronted Developer</p>
          <div class="contactu">
          <ol>
            <li> <a href="https://github.com/Skerl" target="_blank"> <img class="git" src="/github.png" alt="github"> </a></li>
            <li> <a href="https://t.me/ssgtkwala" target="_blank"> <img class="tel" src="/telegram.png" alt="telegram"> </a></li>
          </ol>
        </div>
          </div>
</div>


</body>
</html>
