* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "e-ukr";
  background-color: #f4f4f4;
  height: 100vh; /* Займає всю висоту екрана */

}

.container {
  font-family: "e-ukr";
  width: 100%;
  max-width: 500px; /* Максимальна ширина контейнера */
  margin: 75px auto; /* Центруємо контейнер по горизонталі */
}

.form-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out; /* Додаємо анімацію появи */
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

h2 {
  margin-bottom: 2rem;
  text-align: left;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
  width: 100%; /* Додаємо ширину для форм-групи */
}

label {
  font-family: "e-ukrL";
  font-size: 0.9rem;
  display: block;
  margin-bottom: 0.3rem;
  color: #555;
}

input {
 
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border 0.3s;
}

input:focus {
  border: 1px solid #007bff;
  outline: none;
}

.btn {
  width: 100%;
  padding: 0.3rem;
  background-color: #fc8f00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 15px;
  margin-bottom: -5px;
}

.btn:hover {
  background-color: #df7f00;
}

.error {
  color: red;
  text-align: center;
  margin: 1rem 0;
}

.login-link {
  font-family: "e-ukrL";
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.spinner {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 1rem auto;
}

/* Анімація для спінера */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Анімація появи */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
