<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="Costumer_Sing_In">
        <input type="text" class="te" id="username" name="username"  placeholder="Почта" required>
        <input type="password" class="p" id="password" name="password" placeholder="Пароль" required>
        <input type="password" class="p" id="passwordAgain" name="passwordAgain" placeholder="Повторити ароль" required>
        <button class="En">Зареєструватися</button>
        </div>
</body>
</html>
