<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing <Input:btn></Input:btn></title>
</head>

<body>
  
    <div class="Costumer_Sing_In">
    <input type="text" class="te" id="username" name="username"  placeholder="Почта" required>
    <input type="password" class="p" id="password" name="password" placeholder="Пароль" required>
    <button class="En">Увійти</button>
    </div>
</body>
</html>
