<div class="container">
  <div class="Costumer_Sing_In">
    <h2>Увійти</h2>
    <form (ngSubmit)="login()" class="login-form">
      <input type="text" class="te" id="username" [(ngModel)]="email" name="email" placeholder="Почта" required>
      <input type="password" class="p" id="password" [(ngModel)]="password" name="password" placeholder="Пароль" required>
      <button type="submit" class="En">Увійти</button>
    </form>
    <p class="register-link">Ще немає акаунту? <a href="/regest">Зареєструватися</a></p>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </div>
</div>
