<div class="all-items">

    <div class="function">
        <button class="clearbutton" (click)="CleanSearchForm()" *ngIf="search_data_id.id || search_data_id.email
        || search_data_id.contactNumber || search_data_id.firstName || search_data_id.lastName || search_data_id.animalName
        || search_data_id.typeOfAnimal || search_data_id.animalAge || search_data_id.animalSex || search_data_id.animalSize || search_data_id.experience || search_data_id.shelterName">Очистити пошук</button>
        <button class="search" (click)="OpenSearchForm()"> <img src="search.png" alt=""> Пошук</button>
        <button class="delete" (click)="OpeneDelete()"><img src="delete.png" alt="/" class="del"> Видалити</button>

    </div>

    <div class="table">
        <table>
            <tr>
                <!-- <th></th> -->
                <th >ID</th>
                <th>Ім'я</th>
                <th>Прізвище</th>
                <th>Телефон</th>
                <th>Почта</th>
                <th>Тип тваринки</th>
                <th>Ім'я тваринки</th>
                <th>Вік тваринки</th>
                <th>Стать</th>
                <th>Розмір</th>
                <th>Досвід</th>
                <th>Притулок</th>

            </tr>
            <tr  *ngFor="let volonter of Volonter | filterBy : search_data_id || search_user_firstName ||search_user_lastName||search_user_contactNumber ||search_user_email ||search_user_typeOfAnimal
            ||search_user_animalName ||search_user_animalAge ||search_user_animalSex ||search_user_animalSize ||search_user_experience || search_user_shelterName" >
                <!-- <td><button class="edit" (click)="selectUser(volonter)"><img src="image_admin_edit.png" alt=""></button></td> -->
                <td>{{volonter.id}}</td>
                <td>{{volonter.firstName}}</td>
                <td>{{volonter.lastName}}</td>
                <td>{{volonter.contactNumber}}</td>
                <td>{{volonter.email}}</td>
                <td>{{volonter.typeOfAnimal}}</td>
                <td>{{volonter.animalName}}</td>
                <td>{{volonter.animalAge}}</td>
                <td>{{volonter.animalSex}}</td>
                <td>{{volonter.animalSize}}</td>
                <td>{{volonter.experience}}</td>
                <td>{{volonter.shelterName}}</td>
            </tr>
        </table>
    </div>



    <!-- <div *ngIf="selectedVolonter" class="modal">
        <div class="modal-content">
          <span (click)="closeModal()" class="close-button">&times;</span>
                 <h3>Редагування інформації про користувачів</h3>

            <label for="email">Телефон</label>
            <input type="text" id="email" [(ngModel)]="contactnumber">

            <label for="password">Почта:</label>
            <input type="text" id="password" [(ngModel)]="email">

            <label for="role">Ім'я:</label>
            <input type="text" id="role" [(ngModel)]="name">

            <label for="role">Прізвище:</label>
            <input type="text" id="role" [(ngModel)]="surname">

            <label for="role">Притулок:</label>
            <input type="text" id="role" [(ngModel)]="shelter">

            <div>
                <button class="confirm_edit" (click)="SendEditedUser()">Внести зміни</button>
            </div>

        </div>
      </div> -->

  <div *ngIf="searchInfo" class="modal_for_search">
    <div class="modal-content">
      <span (click)="closeSearch()" class="close-button1">&times;</span>

         <label for="id">ID:</label>
         <input type="text" [(ngModel)]="search_data_id.id" placeholder="ID" name="id">

         <label for="email">Ім'я:</label>
         <input type="text" [(ngModel)]="search_data_id.firstName" placeholder="Ім'я"  name="id">

         <label for="surn">Прізвище:</label>
         <input type="text" [(ngModel)]="search_data_id.lastName" placeholder="Прізвище"  name="surn">

         <label for="contactNumber">Телефон:</label>
         <input type="text" [(ngModel)]="search_data_id.contactNumber"  placeholder="Телефон"  name="contactNumber">

         <label for="email">Почта:</label>
         <input type="text" [(ngModel)]="search_data_id.email"  placeholder="Почта" name="email">

         <label for="type">Тип тваринки:</label>
         <input type="text" [(ngModel)]="search_data_id.typeOfAnimal"  placeholder="Тип тваринки" name="type">

         <label for="name">Ім'я:</label>
         <input type="text" [(ngModel)]="search_data_id.animalName"  placeholder="Ім'я" name="name">

         <label for="age">Вік тваринки:</label>
         <input type="text" [(ngModel)]="search_data_id.animalAge"  placeholder="Вік тваринки" name="age">

         <label for="sex">Стать:</label>
         <input type="text" [(ngModel)]="search_data_id.animalSex"  placeholder="Стать" name="sex">

         <label for="animalSize">Розмір:</label>
         <input type="text" [(ngModel)]="search_data_id.animalSize"  placeholder="Розмір" name="animalSize">

         <label for="experience">Досвід:</label>
         <input type="text" [(ngModel)]="search_data_id.experience"  placeholder="Досвід" name="experience">

         <label for="namesh">Назва притулку:</label>
         <input type="text" [(ngModel)]="search_data_id.shelterName"  placeholder="Назва притулку" name="namesh">
         <button (click)="closeSearch()">Знайти</button>
    </div>
  </div>

  <div *ngIf="DELETE" class="modal">
    <div class="modal-content">
      <span (click)="closeModalDelete()" class="close-button">&times;</span>

             <h3></h3>
        <label for="name">ID:</label>
        <input type="text" id="name" [(ngModel)]="id_for_delete" placeholder="ID заявки">

        <div>
            <button class="confirm_edit" (click)="confirmDelete()">Видалити</button>
        </div>
      <!-- (click)="seandDelete()" -->
    </div>
  </div>
</div>
