*{ margin: 0; padding: 0; box-sizing: border-box;}
body{width: 100%; height: 100%; }

.function{
    display: flex;
    gap: 20px;
    margin: 20px 200px;
    font-family: 'e-ukr';
    font-size: 15px;
}

.function .search:hover{ background-color: #7d8080; transition: 0.2s ease-in-out;}

.function .search{
    border-radius: 8px;
    border: none;
    background-color: #01bfbf;
    color:white;
    width: 200px;
    height: 27px;
    text-align: start;
}


.function  .search img { width: 23px; height: 23px; position: relative; top: -1.5px; left: 5px;}

input[type='search']::placeholder{ color: aliceblue;}
input[type='search']{padding: 10px;}

.table{
    margin: 15px 200px;
    width: 80%;
}
.modal_for_search, .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.222);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(10px);
  }

  .modal-content{
    background-color: white;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
  }
  .edit{border: none;}
  .edit img{ width: 15px; height: 15px;}

  th, td {
    border: 2px solid rgb(194, 192, 192);
  }
  th{
    text-align: center;
   }
  th.exclude, td.exclude {
    border: none; 
    background-color: white;
  }
  .clearbutton{
    border: none;
  background-color: #727272;
  padding: 8px;
  border-radius: 5px;
  color: aliceblue;
  transition: 0.3s ease-in-out;
  }
  .clearbutton:hover{  background-color: #646262;
  }
.close-button,
.close-button1,
.close-button2{
  height: 45px;
  width: 45px;
  cursor: pointer;
  float: right;
  font-size: 28px;
  background-color: #cccccca4;
  border-radius: 100%;
  display: grid;
  place-content: center;
  position: absolute;
  right: -30px;
  top: -30px;
}
.close-button:hover,
.close-button1:hover,
.close-button2:hover {
  background-color: #ccccccb4;
}
 .modal_for_search button,.modal button{
  border: none;
  background-color: #01bfbf;
  padding: 3px;
  border-radius: 5px;
  margin-top: 10px;
  color: aliceblue;
}
.modal_for_search button:hover,.modal button:hover{background-color: #01a9a9;}
.modal_for_search input ,.modal input{
  border-radius: 7px;
  border: 1px solid #b1b1b1;
  padding: 2px;
}
.modal_for_search label ,.modal input{font-weight: bold;}
.modal h3{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.function .delete{
  border-radius: 8px;
  border: none;
  background-color: #01bfbf;
  color:white;
  width: 130px;
  height: 27px;
  text-align: start;
}
.function .delete .del{width: 22px; height: 22px; position: relative; top: -1.5px; left: 6px; margin-right: 5px;}
.function .delete:hover{ background-color: #7d8080; transition: 0.2s ease-in-out;}
.confirm_edit{
  border: none;
  background-color: #01bfbf;
  padding: 3px;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
}

