<app-header></app-header>
<div *ngIf="showRules" class="admin-rules">
    <div class="main_div">
      <h2>Правила адміністратора</h2>
      <ul>
        <li><strong>Конфіденційність:</strong> Заборонено передавати дані користувачів третім особам.</li>
        <li><strong>Контроль контенту:</strong> Виявляти та видаляти неприпустимий або заборонений контент.</li>
        <li><strong>Користувацькі запити:</strong> Оперативно реагувати на звернення та скарги користувачів.</li>
        <li><strong>Безпека:</strong> Використовувати складні паролі та не передавати облікові дані іншим особам.</li>
        <li><strong>Логування дій:</strong> Адміністраторські зміни повинні бути зафіксовані у системі.</li>
        <li><strong>Об'єктивність:</strong> Дотримуватися неупередженості у вирішенні спірних ситуацій.</li>
      </ul>
    </div>
  </div>
<router-outlet></router-outlet>
