<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="adaption-form">

        <h1>Форма заявки на усиновлення тварини</h1>
        <form method="POST" action="" class="adopt"> 
         <label for="name">Ваше ім'я:</label>
         <input type="text" id="name" name="name" placeholder="Введіть ваше ім'я" required>
   
         <label for="surname">Ваше прізвище:</label>
         <input type="text" id="surname" name="surname" placeholder="Введіть ваше прізвище" required>
   
         <label for="email">Email:</label>
         <input type="email" id="email" name="email" placeholder="Введіть ваш email" required>
   
         <label for="phone">Телефон:</label>
         <input type="tel" id="phone" name="phone" placeholder="Введіть ваш номер телефону" required>

         <label for="">ПРитулок</label>
    <input type="tel" id="phone" name="phone" placeholder="" required>
   
         <label for="animal">Яку тварину ви хочете усиновити:</label>
         <select id="animal" name="animal" required>
           <option value="">Виберіть тварину</option>
           <option value="cat">Кіт</option>
           <option value="dog">Пес</option>
           <option value="other">Інші</option>
         </select>
   
         <label for="exp">Чи маєте досвід догляду за тваринами?</label>
          <select id="exp" name="exp" required>
           <option value="">Маєте досвід догляду за тваринами?</option>
           <option value="yes">Так</option>
           <option value="no">Ні</option>
          </select>
         
          <button type="submit">Надіслати заявку</button>
       </form>
   
     
     </div>
</body>
</html>
