<div class="all-items">

    <div class="function">
        <button class="clearbutton" (click)="CleanSearchForm()" *ngIf="search_data_id.id || search_data_id.email
        || search_data_id.password || search_data_id.role">Очистити пошук</button>
        <button class="search" (click)="OpenSearchForm()"> <img src="search.png" alt=""> Пошук</button>
        <button class="add" (click)="OpenAddForm()"> <img src="add.png" alt="/"> Додати адміна</button>
        <button class="delete" (click)="OpeneDelete()"><img src="delete.png" alt="/" class="del"> Видалити</button>


    </div>

    <div class="table">
        <table>
            <tr>

                <th>ID</th>
                <th>Почта</th>
                <th>Пароль</th>
                <!-- <th>Токен</th> -->
                <th>Роль</th>
            </tr>
            <tr  *ngFor="let user of Users | filterBy : search_data_id || search_user_email ||search_user_password||search_user_role" >
                <td>{{user.id}}</td>
                <td>{{user.email}}</td>
                <td>{{user.password}}</td>
                <!-- <td>{{user.authToken}}</td> -->
                <td>{{user.role}}</td>
            </tr>
        </table>
    </div>


<!--
    <div *ngIf="selectedUser" class="modal">
        <div class="modal-content">
          <span (click)="closeModal()" class="close-button">&times;</span>
            <input type="text" id="name" [(ngModel)]="id">
                 <h3>Редагування інформації про користувачів</h3>

            <label for="email">Почта</label>
            <input type="text" id="email" [(ngModel)]="email">

            <label for="password">Пароль:</label>
            <input type="text" id="password" [(ngModel)]="password">

            <label for="role">Роль:</label>
            <input type="text" id="role" [(ngModel)]="role">

            <label for="auth_token">Токен</label>
            <input type="text" id="auth_token" [(ngModel)]="auth_token">
            <div>
                <button class="confirm_edit" (click)="SendEditedUser()">Внести зміни</button>
            </div>

        </div>
      </div> -->

  <div *ngIf="searchInfo" class="modal_for_search">
    <div class="modal-content">
      <span (click)="closeSearch()" class="close-button1">&times;</span>

         <label for="id">ID:</label>
         <input type="text" [(ngModel)]="search_data_id.id" placeholder="ID">

         <label for="name">Почта:</label>
         <input type="text" [(ngModel)]="search_data_id.email" placeholder="Пошта">

         <label for="password">Пароль:</label>
         <input type="text" [(ngModel)]="search_data_id.password" placeholder="Пароль">

         <label for="role">Роль:</label>
         <input type="text" [(ngModel)]="search_data_id.role"  placeholder="Роль">

         <button (click)="closeSearch()">Знайти</button>
    </div>
  </div>

  <div *ngIf="addform" class="modal_for_addadmin">
    <div class="modal-content-addadmin">
      <span (click)="closeAdd()" class="close-button">&times;</span>
      <form (ngSubmit)="register()" class="registration-form">
        <div class="form-group">
          <label for="email">Електронна пошта:</label>
          <input id="email" [(ngModel)]="emailadmin" name="email" type="email" required placeholder="Електронна пошта">
        </div>
        <div class="form-group">
          <label for="password">Пароль:</label>
          <input id="password" [(ngModel)]="password" name="password" type="password" required placeholder="Пароль">
        </div>
        <div class="form-group">
          <label for="passwordAgain">Підтвердіть пароль:</label>
          <input id="passwordAgain" [(ngModel)]="passwordAgain" name="passwordAgain" type="password" required placeholder="Підтвердіть пароль">
        </div>

        <div *ngIf="loading" class="spinner"></div>

        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
        <button type="submit" class="btn" [disabled]="loading">Зареєструвати адміна</button>
      </form>
    </div>
  </div>

  <div *ngIf="DELETE" class="modal">
    <div class="modal-content">
      <span (click)="closeModalDelete()" class="close-button">&times;</span>
       
             <h3></h3>
        <label for="name">ID:</label>
        <input type="text" id="name" [(ngModel)]="id_for_delete" placeholder="ID користувача">
        
        <div>
            <button class="confirm_edit" (click)="confirmDelete()">Видалити</button>
        </div>
      <!-- (click)="seandDelete()" -->
    </div>
  </div>
  
</div>

