
<header>
    <nav class="nav-admin" >
  
      <ul>
        <div class="Descktop-admin">
        <li class="nav-item "><a class="nav-link" routerLink='shelteradmin'>Притулки</a></li>
        <!-- <li class="nav-item "><a class="nav-link" >Волонтерство</a></li>
        <li class="nav-item "><a class="nav-link" routerLink='/donate'>Донат</a></li>
        <li class="nav-item "><a class="nav-link" routerLink='/about'>Про нас</a></li>
        <li class="nav-item "><a class="nav-link" routerLink='/blog-and-news'>Блог та новини</a></li> -->
        </div>
      </ul>
    
    </nav>
  
</header>

  
  
  
  

  
