
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {width: 100%;height: 100%;}

header {
  
  background-color: #01bfbf;
  padding: 4px;
  text-align: center;
  color: white;
  display: flex;
  
}

/* h1 {
  font-size: 2rem;
  margin: 20px auto;
} */

.nav-admin {
  font-family: "e-ukr";
  margin: 10px auto;
  text-align: center;
  /* margin-right: 90px; */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

 /* nav ul .Descktop-admin  {
  margin-right: 60px;
  z-index: 1;
} */

nav ul li  { display: inline-block;  margin-right: 30px;z-index: 1;}

nav ul .nav-item1  {display: inline-block;  margin-right: 30px;z-index: 1;}
nav ul .nav-item1 .nav-link1  {text-decoration: none; color: #000000;  font-size: 1rem; }

nav ul .nav-item1 .nav-link1:hover  {text-decoration: none; color: #ffffff; font-size: 1rem;   transition: 0.2s ease-in-out;}


nav ul li a  {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
}

nav ul li a.active  {
  border-bottom: solid;
}
nav ul li a:hover {
  color: #000000;
  transition: 0.2s ease-in-out;
}

