
<header>
    <nav class="nav-admin" >
  
      <ul>
        <div class="Descktop-admin">
        <li class="nav-item "><a class="nav-link" routerLink='shelteradmin'  routerLinkActive="active">Притулки</a></li>
        <li class="nav-item "><a class="nav-link" routerLink='tabel-animals'  routerLinkActive="active">Тваринки</a></li>
        <li class="nav-item "><a class="nav-link" routerLink='usersadmin'  routerLinkActive="active">Користувачі</a></li>
        <li class="nav-item "><a class="nav-link" routerLink='volonteradmin'  routerLinkActive="active">Заявки Волонтерства</a></li>
        <li class="nav-item "><a class="nav-link" routerLink='adopradmin'  routerLinkActive="active">Заявки Усиновлення</a></li>
        <li class="nav-item "><a class="nav-link" routerLink='wardadmin'  routerLinkActive="active">Заявки Опіки</a></li>
        <li class="nav-item "><a class="nav-link" routerLink='blogadmin'  routerLinkActive="active">Блог</a></li>
        </div>
      </ul>
    
    </nav>
  
</header>

  
  
  
  

  
